<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('ga'); %>
	<meta charset="utf-8">
    <title>Scrībō ✎ The index card app for writers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <script src="https://use.typekit.net/jqk5dzg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="//fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:400,400i,700|Neuton:800" rel="stylesheet" type="text/css">
</head>
     