<p><strong>Welcome to Scribo. The index card app for writers.</strong></p>
<p>&middot; Click the " + " to create a new card</p>
<p>&middot; Click the "<span class="icon">⤿</span>" for card options</p>
<p>&middot; Drag to reorder the cards</p>
<p>&middot; Cards are automatically saved</p>
<p>Important: This is beta software. Things may break. Please don't make this the only copy of your precious work.</p>
<p>And please let us know what you think <a href="mailto:feedback@scribo.co.">feedback@scribo.co</a>.</p>
<p><a href="#" class="close-modal">Ok, got it</a></p>