<a href="#" class="toggle"></a>
<form>
	<fieldset>
		<legend>Theme</legend>
		<label><input type="radio" name="theme" value="classic"> Classic</label>
		<label><input type="radio" name="theme" value="modern" checked> Modern</label>
	</fieldset>
</form>