<a href="#" class="toggle"></a>
<div class="nav-content">
	Logged in as Paul Bland<br />
	<br />
	<form>
		<fieldset>
			<legend>Theme</legend>
			<label><input type="radio" name="theme" value="classic"> Classic</label>
			<label><input type="radio" name="theme" value="modern" checked> Modern</label>
		</fieldset>
	</form>
</div>