<a href="#" class="toggle"></a>
<div class="nav-content">
	Logged in as {{userProfile.name}}<br />
	<br />
	<form>
		<fieldset>
			<legend>Theme</legend>
			<label><input type="radio" name="theme" value="classic"> Classic</label>
			<label><input type="radio" name="theme" value="modern" checked> Modern</label>
		</fieldset>
	</form>
	<br />
	My projects:<br />
	<a href="#" onclick="return confirm('Are you sure you wish to switch projects?')">Project 1</a><br />
	<a href="#" onclick="return confirm('Are you sure you wish to switch projects?')">Project 2</a><br />

	<br />
	<a href="#" class="logout">logout</a>
</div>