/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  font-size: 18px;
  line-height: 1.2;
  height: 100%;
}
body.classic {
  background: #777;
}
body.modern {
  background: #464646;
}

h1 {
  position: fixed;
  bottom: 0;
  right: 60px;
  font-size: 200px;
  font-weight: 900;
  color: #424242;
  /*this should darken bg */
  letter-spacing: -5px;
}
body.classic h1 {
  color: #717171;
}

a.add-card {
  position: fixed;
  top: 0;
  right: 50px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 100ms all linear;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
a.add-card:hover {
  color: #fac123;
}
a.add-card:before {
  content: '+';
  font-size: 50px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  transition: width 150ms linear;
  width: 40px;
  height: 100%;
  background: #292929;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}
body.nav-open nav {
  width: 300px;
}
nav a.toggle {
  display: block;
  text-decoration: none;
}
nav a.toggle:before {
  content: '\2630';
  font-size: 28px;
  color: white;
  margin: 15px 0;
  display: block;
  cursor: pointer;
  text-align: center;
}
body.nav-open nav a.toggle:before {
  content: '\2192';
  margin: 10px 0 0 10px;
  text-align: left;
}
nav form {
  display: none;
  padding: 10px;
}
body.nav-open nav form {
  display: block;
}
nav form label {
  cursor: pointer;
}

ul#cards {
  list-style: none;
  overflow: hidden;
  margin-right: 80px;
  /* nav width + add card */
  padding: 8px;
}
body.nav-open ul#cards {
  margin-right: 300px;
}
ul#cards li.card {
  float: left;
  margin: 10px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 280px;
  height: 140px;
  perspective: 800px;
}
ul#cards li.card .wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  transition: transform 500ms;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* THEME: MODERN */
  /* THEME: CLASSIC */
}
ul#cards li.card .wrapper.flipped {
  transform: rotateY(180deg);
}
body.modern ul#cards li.card .wrapper {
  border-top-width: 8px;
  border-top-style: solid;
  border-radius: 3px 3px 0 0;
  background: #ebebeb;
}
body.modern ul#cards li.card .wrapper.style-1 {
  border-color: #fac123;
}
body.modern ul#cards li.card .wrapper.style-2 {
  border-color: #448ccb;
}
body.modern ul#cards li.card .wrapper.style-3 {
  border-color: #3cb878;
}
body.modern ul#cards li.card .wrapper.style-4 {
  border-color: #eb4c4c;
}
body.modern ul#cards li.card .wrapper.style-5 {
  border-color: #f68e56;
}
body.classic ul#cards li.card .wrapper {
  text-overflow: ellipsis;
  background-image: linear-gradient(0deg, rgba(64, 128, 255, 0.25) 1px, transparent 1px);
  background-size: 100% 16px;
}
body.classic ul#cards li.card .wrapper.style-1 {
  background-color: #feef70;
}
body.classic ul#cards li.card .wrapper.style-2 {
  background-color: #a6c9dd;
}
body.classic ul#cards li.card .wrapper.style-3 {
  background-color: #b1dab8;
}
body.classic ul#cards li.card .wrapper.style-4 {
  background-color: #f6cdd5;
}
body.classic ul#cards li.card .wrapper.style-5 {
  background-color: #f17e61;
}
ul#cards li.card .wrapper .front,
ul#cards li.card .wrapper .back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
ul#cards li.card .wrapper .front a.flip-card {
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: rgba(0, 0, 0, 0.2);
  transition: color 100ms linear;
}
ul#cards li.card .wrapper .front a.flip-card:before {
  content: '\293F';
  transform: rotate(-75deg);
  display: inline-block;
}
ul#cards li.card .wrapper .front a.flip-card:hover {
  color: black;
}
ul#cards li.card .wrapper .front textarea {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  cursor: default;
  /* THEME: MODERN */
  /* THEME: CLASSIC */
}
ul#cards li.card .wrapper .front textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
body.modern ul#cards li.card .wrapper .front textarea {
  padding: 10px 13px;
  outline: 0;
  max-height: 100%;
  max-width: 100%;
  transition: background 100ms ease-in-out;
}
body.modern ul#cards li.card .wrapper .front textarea:focus {
  background: white;
}
body.classic ul#cards li.card .wrapper .front textarea {
  padding: 10px 13px;
  font-family: 'Just Another Hand';
  font-size: 36px;
  font-weight: 100;
  outline: none;
  line-height: 32px;
  letter-spacing: 0.5px;
}
ul#cards li.card .wrapper .back {
  background: white;
  transform: rotateY(180deg);
}
ul#cards li.card .wrapper .back ul.card-style li {
  display: inline-block;
}
ul#cards li.card .wrapper .back ul.card-style li label input {
  display: none;
}
ul#cards li.card .wrapper .back ul.card-style li label span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}
ul#cards li.card .wrapper .back ul.card-style li label input:checked + span {
  border-color: black;
}
body.modern ul#cards li.card .wrapper .back ul.card-style li.card-style-1 label span {
  background: #fac123;
}
body.modern ul#cards li.card .wrapper .back ul.card-style li.card-style-2 label span {
  background: #448ccb;
}
body.modern ul#cards li.card .wrapper .back ul.card-style li.card-style-3 label span {
  background: #3cb878;
}
body.modern ul#cards li.card .wrapper .back ul.card-style li.card-style-4 label span {
  background: #eb4c4c;
}
body.modern ul#cards li.card .wrapper .back ul.card-style li.card-style-5 label span {
  background: #f68e56;
}
body.classic ul#cards li.card .wrapper .back ul.card-style li.card-style-1 label span {
  background: #feef70;
}
body.classic ul#cards li.card .wrapper .back ul.card-style li.card-style-2 label span {
  background: #a6c9dd;
}
body.classic ul#cards li.card .wrapper .back ul.card-style li.card-style-3 label span {
  background: #b1dab8;
}
body.classic ul#cards li.card .wrapper .back ul.card-style li.card-style-4 label span {
  background: #f6cdd5;
}
body.classic ul#cards li.card .wrapper .back ul.card-style li.card-style-5 label span {
  background: #f17e61;
}

.status {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fac123;
  padding: 5px 10px;
  border-radius: 3px 0 0;
  z-index: 2;
}

/*# sourceMappingURL=scribo.css.map */
