<%- include('partials/header_start'); %>
<body>
	<main>
		<a href="#" class="add-card"></a>
		<a href="#" class="suggest-card"></a>
		<ul id="cards"></ul>
		<!--<div class="status">O Saving...</div>-->
	</main>
	<script src="scribo.bundle.js"></script>
</body>
</html>