<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Scrībō ✎ The index card app for writers.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="/manifest.json">
 	<link href="//fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400,700|Neuton:800" rel="stylesheet" type="text/css">
 	<link rel="stylesheet" type="text/css" href="/css/scribo.min.css">
</head>
<body class="orientation-landscape zoom-medium theme-bright background-dark">
	<main>
		<!-- <h1>Scribo</h1> -->
		<a href="#" class="add-card"></a>
		<ul id="cards"></ul>
		<!--<div class="status">O Saving...</div>-->
	</main>
	<script src="/js/scribo.min.js"></script>
</body>
</html>