<%- include('partials/header_start'); %>
<body>
	<main>
		<a href="#" class="add-card"></a>
		<ul id="cards"></ul>
		<!--<div class="status">O Saving...</div>-->
	</main>
	<!-- <script src="/js/scribo.min.js"></script> -->
	<script src="bundle.js"></script>
</body>
</html>