<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">




    <script>

      var userProfile;



      $(document).ready(function() {

      



        var lock = new Auth0Lock(
          'eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', // CLIENT ID
          'scribo.auth0.com' // API HOST
        );



// retrieve the profile:
var userToken = localStorage.getItem('userToken');
if (userToken) {
  lock.getProfile(userToken, function (err, profile) {
    if (err) {
      return alert('There was an error geting the profile: ' + err.message);
    }
    alert(profile.name);
    console.log(profile);
  });
}


        // lock.show({
        //   callbackURL: 'http://localhost:8080/app'
        // });

        $('.btn-login').click(function(e) {
          e.preventDefault();

          lock.showSignin(function(err, profile, token) {
            if (err) {
              // Error callback
              console.log("There was an error");
              alert("There was an error logging in");
            } else {
              // Success calback

              // Save the JWT token.
              localStorage.setItem('userToken', token);

              // Save the profile
              userProfile = profile;

              window.location='/app';

              // $('.login-box').hide();
              // $('.logged-in-box').show();
              // $('.nickname').text(profile.nickname);
              // $('.nickname').text(profile.name);
              // $('.avatar').attr('src', profile.picture);
            }
          });
        });

        $.ajaxSetup({
          'beforeSend': function(xhr) {
            if (localStorage.getItem('userToken')) {
              xhr.setRequestHeader('Authorization',
                    'Bearer ' + localStorage.getItem('userToken'));
            }
          }
        });

        $('.btn-api').click(function(e) {
          // Just call your API here. The header will be sent
          $.ajax({
            url: 'http://localhost:3001/secured/ping',
            method: 'GET'
          }).then(function(data, textStatus, jqXHR) {
            alert("The request to the secured enpoint was successfull");
          }, function() {
            alert("You need to download the server seed and start it to call this API");
          });
        });

      });

    </script>

  </head>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h3>Auth0 Example</h3>
        <button class="btn-login">SignIn</a>
      </div>

      <div class="logged-in-box auth0-box logged-in" style="display: none;">
        <img class="avatar"/>
        <h2>Welcome <span class="nickname"></span></h2>
        <button class="btn btn-lg btn-primary btn-api">Call API</button>
      </div>
  </body>
</html>
