<%- include('partials/header_start'); %>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h1>Scrībō</h1>
        <p>The index card app for writers.</p>
        <a href="#" class="login">Join the beta</a>
      </div>
      <small>
        <span>Scribo</span> is lovingly made by <a href="http://automatstudio.com" target="_blank">Automat Studio</a>
          in Brooklyn, New York. <a href="mailto:hello@automatstudio.com">hello@automatstudio.com</a>
        &nbsp; &nbsp; &nbsp;<a href="/privacy">Privacy Policy</a>
        &nbsp; &nbsp; &nbsp;<a href="/terms">Terms &amp; Conditions</a>
      </small>
      <script src="//cdn.auth0.com/js/lock/12.5.0/lock.min.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var lock = new Auth0Lock('eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', 'scribo.auth0.com'); // CLIENT ID, API HOST
          document.querySelector('.login').addEventListener("click", function(e) {
            e.preventDefault();
            lock.show();
            lock.on("authenticated", function (authResult) {
              lock.getUserInfo(authResult.accessToken, function (error, profile) {
                if (error) {
                  console.log("There was an error", error);
                } else {
                  localStorage.setItem('userToken', authResult.idToken);
                  localStorage.setItem('userProfile', JSON.stringify(profile));
                  window.location.href = "/app";
                }
              });
            });
          });
        });
      </script>
    </script>
  </body>
</html>
