<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h3>Auth0 Example</h3>
        <button class="btn-login">SignIn</a>
        <button class="btn-logout">SignOut</a>
      </div>

        <img class="avatar"/>
        <h2>not logged in</h2>
      </div>



      <script>


      $(document).ready(function() {

      



        var lock = new Auth0Lock( 'eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', 'scribo.auth0.com'); // CLIENT ID, API HOST
 



// retrieve the profile:
var userProfile = JSON.parse(localStorage.getItem('userProfile'));
if (userProfile) {
  console.log(userProfile);
  $('h2').html('logged in as ' + userProfile.name);
}
// can also user lock to decode the token to get profile
// but this way lock isnt needed on other pages.. ?

 


        $('.btn-login').click(function(e) {
          e.preventDefault();

          lock.show(function(err, profile, token) {
            if (err) {
              // Error callback
              console.log("There was an error");
             // alert("There was an error logging in");
            } else {
              // Success calback

              // Save the JWT token.
              localStorage.setItem('userToken', token);
              localStorage.setItem('userProfile', JSON.stringify(profile));


              // window.location='/app';
              // refreshs - could just hide show things
               window.location.href = "/";

            }
          });
        });


         $('.btn-logout').click(function(e) {
          e.preventDefault();
          localStorage.removeItem('userToken');
          localStorage.removeItem('userProfile');
          window.location.href = "/";
        });






        // NOT USING THIS YET 

        $.ajaxSetup({
          'beforeSend': function(xhr) {
            if (localStorage.getItem('userToken')) {
              xhr.setRequestHeader('Authorization',
                    'Bearer ' + localStorage.getItem('userToken'));
            }
          }
        });

        $('.btn-api').click(function(e) {
          // Just call your API here. The header will be sent
          $.ajax({
            url: 'http://localhost:3001/secured/ping',
            method: 'GET'
          }).then(function(data, textStatus, jqXHR) {
            alert("The request to the secured enpoint was successfull");
          }, function() {
            alert("You need to download the server seed and start it to call this API");
          });
        });

      });

    </script>



  </body>
</html>
