<%- include('partials/header_start'); %>
<body class="home2">

    <div class="index-background">

        <!-- LEFT -->
        <div class="card-panel card-panel-left card-panel-left-1">
            <div class="index-card index-card index-card-1">test text here </div>
            <div class="index-card index-card index-card-2">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
        </div>
        <div class="card-panel card-panel-left card-panel-left-2">
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
        </div>

        <!-- RIGHT -->
        <div class="card-panel card-panel-right card-panel-right-1">
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
        </div>
        <div class="card-panel card-panel-right card-panel-right-2">
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
            <div class="index-card index-card">test text here </div>
        </div>
    </div>

  </body>
</html>
