<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scrībō ✎ The index card app for writers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://use.typekit.net/jqk5dzg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <style>
    html, body {
      height: 100%;
    }
    body {
      font-family: 'Urbana', sans-serif;
      background-image: url('/img/scribo_bg.jpg');
      background-size: cover;
      background-position: center;
      color: white;
      padding: 15% 5%;
    }
    </style>

  </head>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h3>Scrībō</h3>
        <p>The index card app for writers.</p>
        <button class="login">Login</button>
      </div>

      <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="//cdn.auth0.com/js/lock-8.2.min.js"></script>
      <script>
        $(function() {
          var lock = new Auth0Lock('eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', 'scribo.auth0.com'); // CLIENT ID, API HOST
          $('.login').click(function(e) {
            e.preventDefault();
            lock.show(function(err, profile, token) {
              if (err) {
                console.log("There was an error");
              } else {
                localStorage.setItem('userToken', token);
                localStorage.setItem('userProfile', JSON.stringify(profile));
                window.location.href = "/app";
              }
            });
          });

          // if already logged in, redirect to /app

        });
      </script>

  </body>
</html>
