<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdn.auth0.com/js/lock-8.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h3>Scribo</h3>
        <p>The index card app for writers</p>
        <button class="login">Login</button>
      </div>

      <script>
      $(function() {
        var lock = new Auth0Lock('eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', 'scribo.auth0.com'); // CLIENT ID, API HOST
        $('.login').click(function(e) {
          e.preventDefault();
          lock.show(function(err, profile, token) {
            if (err) {
              console.log("There was an error");
            } else {
              localStorage.setItem('userToken', token);
              localStorage.setItem('userProfile', JSON.stringify(profile));
              window.location.href = "/app";
            }
          });
        });

        




        // NOT USING THIS YET 

        $.ajaxSetup({
          'beforeSend': function(xhr) {
            if (localStorage.getItem('userToken')) {
              xhr.setRequestHeader('Authorization',
                    'Bearer ' + localStorage.getItem('userToken'));
            }
          }
        });

    

      });

    </script>



  </body>
</html>
