<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scrībō ✎ The index card app for writers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://use.typekit.net/jqk5dzg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <style>
    html, body {
      height: 100%;
    }
    body {
      font-family: 'Urbana', sans-serif;
      background-color: #2a262b;
      background-image: url('/img/scribo-bg.jpg');
      background-size: cover;
      background-position: center;
      color: white;
      padding: 12% 8%;
    }
    h1 {
      background-image: url('/img/scribo-logo.svg');
      /* width: 335px; - CALCUALTED */
      height: 85px;
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999px;
      margin: 0 0 0.6em;
    }
    p {
      font-size: 28px;
      margin: 0 0 2em;
    }
    a {
      display: inline-block;
      border: 1px solid white;
      padding: 3px 20px;
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    a:hover {
      color: #feef70;
      border-color: #feef70;
    }
    </style>

  </head>
  <body class="home">
      <div class="login-page clearfix login-box">
        <h1>Scrībō</h1>
        <p>The index card app for writers.</p>
        <a  href="#" class="login">Login</a>
      </div>

      <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="//cdn.auth0.com/js/lock-8.2.min.js"></script>
      <script>
        $(function() {
          var lock = new Auth0Lock('eaXYDVkHHSLQZVtJsXArAHOGq20Yxo1l', 'scribo.auth0.com'); // CLIENT ID, API HOST
          $('.login').click(function(e) {
            e.preventDefault();
            lock.show(function(err, profile, token) {
              if (err) {
                console.log("There was an error");
              } else {
                localStorage.setItem('userToken', token);
                localStorage.setItem('userProfile', JSON.stringify(profile));
                window.location.href = "/app";
              }
            });
          });

          // if already logged in, redirect to /app

        });
      </script>

  </body>
</html>
