<div class="modal-content modal-1">
    <h2><strong>Welcome to Scribo.</strong> <span>The index card app for writers.</span></h2>
     <p>Important: This is beta software. Things may break. Please don't make this the only copy of your precious work.</p>
    <p>And please let us know what you think <a href="mailto:feedback@scribo.co.">feedback@scribo.co</a>.</p>
    <p>1/5 <a href="#" class="show-modal" data-modal="2">Next</a> <a href="#" class="close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-2">
    <p>Click the "<span class="icon-1">+</span>" to create a new card</p>
    <p>2/5 <a href="#" class="show-modal" data-modal="3">Next</a> <a href="#" class="close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-3">
    <p>Click and drag to reorder the cards</p>
    <p>3/5 <a href="#" class="show-modal" data-modal="4">Next</a> <a href="#" class="close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-4">
    <p>Click the "<span class="icon-2">⤿</span>" for card options</p>
    <p> 4/5 <a href="#" class="show-modal" data-modal="5">Next</a> <a href="#" class="close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-5">
    <p>Cards are automatically saved</p>
    <p> 5/5 <a href="#" class="close-modal">Ok, got it. Start using app</a></p>
</div>
