<div class="modal-content modal-1">
    <h2>Welcome to Scribo!</h2>
    <h3>The index card app for writers.</h3>
    <p><strong>Important:</strong> This is beta software and things may break. Please don’t make this the only copy of your precious work!</p>
    <p class="link-block">
        <a href="#" class="next show-modal" data-modal="2">Next</a><br />
        <a href="#" class="skip close-modal">Skip intro</a>
    </p>
</div>

<div class="modal-content modal-2">
    <p>Click <span class="icon-1">+</span> to create a new index card</p>
    <p>Click and drag <span class="icon-3">☞</span>to change card order</p>
    <p><span class="icon-4">✓</span> Changes are automatically saved</p>
    <p class="link-block">
        <a href="#" class="next show-modal" data-modal="3">Next</a><br />
        <a href="#" class="skip close-modal">Skip intro</a>
    </p>
</div>

<div class="modal-content modal-3">
    <p>Click <span class="icon-4">☰</span> for app settings (like changing theme)</p>
    <p>Click <span class="icon-2">⤿</span> for card options (like card color)</p>
    <p><span class="icon-4">✎</span> This tutorial is available in the menu</p>
    <p class="link-block">
        <a href="#" class="next show-modal" data-modal="4">Next</a><br />
        <a href="#" class="skip close-modal">Skip intro</a>
    </p>
</div>
 
<div class="modal-content modal-4">
    <p>Please let us know what you think <a href="mailto:scribo.feedback@automatstudio.com">scribo.feedback@automatstudio.com</a></p>
    <p class="link-block">
        <a href="#" class="next close-modal">Start using app</a>
    </p>
</div>
