<div class="modal-content modal-1">
    <h2><strong>Welcome to Scrībō</strong><br /><span>The index card app for writers.</span></h2>
     <p><strong>Important:</strong> This is beta software and things may break. Please don't make this the only copy of your precious work!</p>
    <p>1/5 <a href="#" class="show-modal" data-modal="2">Next</a> <a href="#" class="skip close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-2">
    <p>Click <span class="icon-1">+</span> to create a new card</p>
    <p>Click <span class="icon-4">☰</span> for app menu</p>
    <p>2/5 <a href="#" class="show-modal" data-modal="3">Next</a> <a href="#" class="skip close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-3">
    <p><span class="icon-3">☞</span>Click and drag to reorder the cards</p>
    <p>Click <span class="icon-2">⤿</span> for card options (like changing color)</p>
    <p>3/5 <a href="#" class="show-modal" data-modal="4">Next</a> <a href="#" class="skip close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-4">
    ...
    <p> 4/5 <a href="#" class="show-modal" data-modal="5">Next</a> <a href="#" class="skip close-modal">Skip intro</a></p>
</div>

<div class="modal-content modal-5">
    <p>&middot; Cards are automatically saved</p>
    <p>&middot; This tutorial is available in the menu</p>
    <p>&middot; Please let us know what you think <a href="mailto:feedback@scribo.co.">feedback@scribo.co</a>.</p>
    <p> 5/5 <a href="#" class="close-modal">Ok, got it. Start using app</a></p>
</div>
