%centered-modal {
    top: 25%;
    width: 50%;
    max-width: 525px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
    
.modal {
    position: absolute;
    @extend %modern-background;
    @extend %centered-modal;
   
    padding: 35px 23px;
    font-size: 20px;
    font-family:'Urbana';
    
    .modal-content { display: none; }
    &.modal-1 .modal-content.modal-1 { display: block; }
    &.modal-2 .modal-content.modal-2 { display: block; }
    &.modal-3 .modal-content.modal-3 { display: block; }
    &.modal-4 .modal-content.modal-4 { display: block; }

    &.modal-1 { border-color: $modern-color-1; }
    &.modal-2 { border-color: $modern-color-2; }
    &.modal-3 { border-color: $modern-color-3; }
    &.modal-4 { border-color: $modern-color-4; }

   h2 {
        @extend %font-3;
        margin: 0 0 5px;
        font-size: 42px;
        text-align: center;
        font-weight: normal;
    }
    h3 {
        margin: 0 0 35px;
        font-size: 24px;
        font-weight: strong;
        text-align: center;
    }
    strong {
       font-weight: 700;
    }
   
    p {
        margin: 0 0 20px;
        text-align: center;
        
        &.link-block {
            margin: 30px 0 10px;
            text-align: center;
        }
    }

    a {
        color: black;
        transition: color 100ms linear;

        &:hover {
           opacity: 0.7;
        }
    }

    a.next {
        font-weight: bold;
        text-decoration: none;
        font-size: 24px;
        margin: 5px 0;
        display: inline-block;

        &:after {
            content: '→';
            display: inline-block;
            margin: 0 0 0 5px;
        }
    }

    a.skip {
        font-size: 14px;
        text-decoration: underline;
        font-weight: normal;
        color: #808080;
    }

    .icon-1 {
        @extend %font-2;
        font-weight: bold;
        font-size: 48px;
        margin: -31px 5px;
        vertical-align: middle;
        display: inline-block;
    }

    .icon-2 {
        transform: rotate(-75deg);
        display: inline-block;
        font-size: 18px;
        margin: 0 5px;
    }

     .icon-3 {
        transform: rotate(-125deg);
        display: inline-block;
        font-size: 28px;
        margin: 0 5px 0 0;
    }

    .icon-4 {
        font-weight: bold;
        font-size: 26px;
        margin: 0 5px;
    }
}