html { 
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	font-size: 18px;
	line-height: 1.2;
	height: 100%;

	&.classic { background: $classic-background; }
	&.modern { background: $modern-background; }
}


main {

}


h1 {
	font-family: 'Neuton', serif;
	font-weight: 800;
	position: fixed;
	bottom: -20px;
	right: 60px;
	font-size: 200px;
	font-weight: 900;
	color: rgba(0,0,0,0.08); 
	text-shadow: 1px 1px 2px $modern-background, 0 0 0 rgba(0,0,0,0.2), 1px 1px 2px $modern-background;
	z-index: -1;
}	

a.add-card {
	position: fixed; 
	top: 0;
	right: 48px;
	text-decoration: none;
	color: white;
	display: block;
	transition: 100ms all linear;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);

	&:hover {
		color: $accent-color;
	}

	&:before {
		content:'+'; 
		font-size: 40px;
		font-weight: bold;
		display: block;
		cursor: pointer;
		text-align: center;
	}
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	transition: width 150ms linear;
	width: 40px;
	height: 100%; 
	background: #292929;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;

	body.nav-open & {
		width: 300px;
	}
	
	a.toggle {
		display: block;
		text-decoration: none;

		&:before {
			content:'\2630'; 
			font-size: 28px;
			color: white;
			margin: 15px 0;
			display: block;
			cursor: pointer;
			text-align: center;

			body.nav-open & {
				content: '\2192';
				margin: 10px 0 0 10px;
				text-align: left;

			}
		}

	}

	

	form {
		display: none;
		padding: 10px;

		body.nav-open & {
			display: block;
		}

		label {
			cursor: pointer;
		}
	}


	
} 




ul#cards {
	list-style: none; 
	overflow: hidden;
	margin-right: 65px; /* nav width + add card */
 	padding: 8px;

	body.nav-open & {
		margin-right: 300px;
	}

	li.card {
		float: left;
		margin: 10px;
		position: relative;
		cursor: pointer;
		box-sizing: border-box;
		width: 280px;
		height: 140px;
		perspective: 800px;

		.wrapper {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: absolute;
			transition: transform 500ms;
			transform-style: preserve-3d;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);

			&.flipped { transform: rotateY(180deg); }


			/* THEME: MODERN */
			body.modern & {
				border-top-width: 8px;
				border-top-style: solid;
				border-radius: 3px 3px 0 0 ;
				background: #ebebeb;
				
				&.style-1 { border-color: $modern-color-1; }
				&.style-2 { border-color: $modern-color-2; }
				&.style-3 { border-color: $modern-color-3; }
				&.style-4 { border-color: $modern-color-4; }
				&.style-5 { border-color: $modern-color-5; }
			}

			/* THEME: CLASSIC */
			body.classic & {
			  	text-overflow: ellipsis;
			    background-image: linear-gradient(0deg, rgba(64,128,255,0.25) 1px, rgba(0,0,0,0) 1px);
				background-size: 100% 16px;

				&.style-1 { background-color: $classic-color-1; }
				&.style-2 { background-color: $classic-color-2; }
				&.style-3 { background-color: $classic-color-3; }
				&.style-4 { background-color: $classic-color-4; }
				&.style-5 { background-color: $classic-color-5; }
			}

			.front,
			.back, {
		    	height: 100%;
		    	width: 100%;   
		    	position: absolute;
		    	backface-visibility: hidden;
		    }
		    
			.front {

				a.flip-card {
					position: absolute;
					right: 5px;
					bottom: 2px;
					color: rgba(0,0,0,0.2);
					transition: color 100ms linear;
					
					&:before {
						content: '\293F';
						transform: rotate(-75deg);
						display: inline-block;
					}

					&:hover {
						color: black;
					}
				}

				textarea {
					background: transparent;
					border: 0;
					width: 100%;
					height: 100%;
					resize: none;
					box-sizing: border-box;
					cursor: default;

					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.2);
					}

					/* THEME: MODERN */
					body.modern & {
						font-family: 'Open Sans', sans-serif;
						font-weight: 300;
						padding: 10px 13px;
						outline: 0;
						max-height: 100%;
						max-width: 100%;
						transition: background 100ms ease-in-out;

						&:focus { background: white; }
					}

					/* THEME: CLASSIC */
					body.classic & {
						padding: 10px 13px;
						font-family: 'Just Another Hand', cursive;
						font-size: 36px;
						outline: none;
						line-height: 32px;
						letter-spacing: 0.5px;

						&:focus { }
					}
				
				}
			}

			.back {
				background: white;
      			transform: rotateY( 180deg );


      			ul.card-style {
      				li {
      					display: inline-block;

      					label {
      							
      						input {
      							display: none;
      						}

      						span {
      							display: block;
	      						width: 20px;
	      						height: 20px;
	      						border-radius: 10px;    
	      						cursor: pointer;  
	      						border: 2px solid transparent;
	      						box-sizing: border-box;
      						}

      						input:checked + span {
      							border-color: black;
      						}					
      					}
      					
      					body.modern &.card-style-1 label span { background: $modern-color-1; }
      					body.modern &.card-style-2 label span { background: $modern-color-2; }
      					body.modern &.card-style-3 label span { background: $modern-color-3; }
      					body.modern &.card-style-4 label span { background: $modern-color-4; }
      					body.modern &.card-style-5 label span { background: $modern-color-5; }

      					body.classic &.card-style-1 label span { background: $classic-color-1; }
      					body.classic &.card-style-2 label span { background: $classic-color-2; }
      					body.classic &.card-style-3 label span { background: $classic-color-3; }
      					body.classic &.card-style-4 label span { background: $classic-color-4; }
      					body.classic &.card-style-5 label span { background: $classic-color-5; }
      						
      				}
      			}
    		}
			
		}

	}
}



.status {
	position: fixed;
	bottom: 0;
	right: 0;
	background: $accent-color;
	padding: 5px 10px;
	border-radius: 3px 0 0;
	z-index: 2;
}


