html { 
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	font-size: 18px;
	line-height: 23px;
	height: 100%;

	&.classic {
		background: #777;  
	}
	&.modern {
		background: #464646;  
	}
}


main {

}


h1 {
	position: fixed;
	bottom: -55px;
	right: 60px;
	font-size: 200px;
	color: #424242; /*this should darken bg */
	letter-spacing: -5px;

	body.classic & {
		color: #717171;
	}
}	

a.add-card {
	position: fixed; 
	top: 12px;
	right: 50px;
	text-decoration: none;
	color: white;
	display: block;
	transition: 100ms all linear;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);

	&:hover {
		color: $modern-color-1;
	}

	&:before {
		content:'+'; 
		font-size: 60px;
		font-weight: bold;
		display: block;
		cursor: pointer;
		text-align: center;
	}
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	transition: width 150ms linear;
	width: 40px;
	height: 100%; 
	background: #292929;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;

	body.nav-open & {
		width: 300px;
	}
	
	a.toggle {
		display: block;
		text-decoration: none;

		&:before {
			content:'\2630'; 
			font-size: 28px;
			color: white;
			margin: 15px 0;
			display: block;
			cursor: pointer;
			text-align: center;

			body.nav-open & {
				content: '\2192';
				margin: 10px 0 0 10px;
				text-align: left;

			}
		}

	}

	

	form {
		display: none;
		padding: 10px;

		body.nav-open & {
			display: block;
		}

		label {
			cursor: pointer;
		}
	}


	
} 




ul#cards {
	list-style: none; 
	overflow: hidden;
	margin-right: 80px; /* nav width + add card */
 	padding: 8px;

	body.nav-open & {
		margin-right: 300px;
	}

	li.card {
		float: left;
		margin: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		position: relative;
		cursor: pointer;
		box-sizing: border-box;
		width: 280px;
		height: 140px;
		perspective: 800px;

		.wrapper {
			width: 100%;
			height: 100%;
			position: absolute;
			transition: transform 500ms;
			transform-style: preserve-3d;

			&.flipped {
				transform: rotateY( 180deg );
			}
			.front,
			.back, {
		      display: block;
		      height: 100%;
		      width: 100%;   
		      position: absolute;
		      backface-visibility: hidden;
		    }
		    .front {
      			xbackground: red;
    		}
     		.back {
      			background: white; 
      			transform: rotateY( 180deg );
    		}

			body.modern &.style-1 .front { border-color: $modern-color-1; }
			body.modern &.style-2 .front { border-color: #448ccb; }
			body.modern &.style-3 .front { border-color: #3cb878; }
			body.modern	&.style-4 .front { border-color: #eb4c4c; }
			body.modern	&.style-5 .front { border-color: #f68e56; }

			body.classic &.style-1 .front { background-color: #feef70; }
			body.classic &.style-2 .front { background-color: #a6c9dd; }
			body.classic &.style-3 .front { background-color: #b1dab8; }
			body.classic &.style-4 .front { background-color: #f6cdd5; }
			body.classic &.style-5 .front { background-color: #f17e61; }


			.front {

				a.flip-card {
					position: absolute;
					right: 5px;
					bottom: 2px;
					
					&:before {
						content: '\293F';
						transform: rotate(-70deg);
						display: inline-block;
					}
				}

				/* THEME: MODERN */
				body.modern & {
					border-top-width: 8px;
					border-top-style: solid;
					border-radius: 3px 3px 0 0 ;
					background: #ebebeb;
				}

				/* THEME: CLASSIC */
				body.classic & {
					padding: 20px 10px 10px;
				  	text-overflow: ellipsis;
				    background-image: linear-gradient(0deg, rgba(64,128,255,0.25) 1px, rgba(0,0,0,0) 1px);
					background-size: 100% 16px;
				}

				textarea {
					background: transparent;
					border: 0;
					width: 100%;
					height: 100%;
					resize: none;
					box-sizing: border-box;
					cursor: default;

					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.2);
					}

					/* THEME: MODERN */
					body.modern & {
						padding: 10px 13px;
						outline: 0;
						max-height: 100%;
						max-width: 100%;
						transition: background 100ms ease-in-out;

						&:focus { background: white; }
					}

					/* THEME: CLASSIC */
					body.classic & {
						padding: 5px;
						font-family: 'Just Another Hand';
						font-size: 36px;
						font-weight: 100;
						outline: none;
						line-height: 32px;
						letter-spacing: 0.5px;

						&:focus { outline: 2px dotted rgba(0,255,0,0.85); }
					}
				
				}
			}


		}

   

		
		

	}
}



.status {
	position: fixed;
	bottom: 0;
	right: 0;
	background: yellow;
	padding: 5px 10px;
	border-radius: 3px 0 0;
	z-index: 2;
}


