%font-1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0.5px;
}
%font-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
%font-3 {
    font-family: 'Neuton', serif;
	font-weight: 800;
}