$modern-color-1: #fac123;
$modern-color-2: #448ccb;
$modern-color-3: #3cb878;
$modern-color-4: #eb4c4c;
$modern-color-5: #f68e56;

$classic-color-1: #feef70; 
$classic-color-2: #a6c9dd; 
$classic-color-3: #b1dab8; 
$classic-color-4: #f6cdd5; 
$classic-color-5: #f17e61; 

$accent-color: $classic-color-1;

$modern-background: #464646;
$classic-background: #464646; /*#777;*/