html { 
	height: 100%;
}

body {
	margin: 0;
	/*font-family: 'Helvetica Neue';
	font-weight: 200;*/
	@extend %font-2;
	font-size: 18px;
	line-height: 1.2;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 

	transition: background-color 150ms ease-in-out;
}

%light-background {
	background-color: #808080;
}
%dark-background {
	background-color: #383838;
}
%image-background {
	background-color: #2a262b;
	background-image: url('/img/scribo-bg.jpg');
	background-size: cover;
	background-position: center;
}


body.background-light { @extend %light-background; }
body.background-dark { @extend %dark-background; }
body.background-image { @extend %image-background; }



main {

}

a.add-card {
	position: fixed; 
	top: -4px;
	right: 54px;
	text-decoration: none;
	color: white;
	display: block;
	transition: 100ms all linear;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);

	&:hover {
		color: $accent-color;
	}

	&:before {
		content:'+'; 
		font-size: 56px;
		font-weight: bold;
		display: block;
		cursor: pointer;
		text-align: center;
	}
}



.status {
	position: fixed;
	bottom: 0;
	right: 0;
	background: $accent-color;
	padding: 5px 10px;
	border-radius: 3px 0 0;
	z-index: 2;
}
