.modal {
    position: absolute;
    @extend %modern-background;
   
    padding: 24px 23px;
    font-size: 22px;

    
    .modal-content { display: none; }
    &.modal-1 .modal-content.modal-1 { display: block; }
    &.modal-2 .modal-content.modal-2 { display: block; }
    &.modal-3 .modal-content.modal-3 { display: block; }
    &.modal-4 .modal-content.modal-4 { display: block; }
    &.modal-5 .modal-content.modal-5 { display: block; }

    &.modal-1 { border-color: $modern-color-1; }
    &.modal-2 { border-color: $modern-color-2; }
    &.modal-3 { border-color: $modern-color-3; }
    &.modal-4 { border-color: $modern-color-4; }
    &.modal-5 { border-color: $modern-color-5; }

    
    /* positions */
    &.modal-1 {
        top: 15%;
        width: 50%;
        max-width: 700px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    &.modal-2 {
        top: 20px;
        right: 85px;
    }
     &.modal-3 {
        top: 25px;
        left: 25px;
    }
     &.modal-4  {
        top: 25px;
        left: 25px;
    }
     &.modal-5 {
        top: 25px;
        left: 25px;
    }
    


     h2 {
        @extend %font-2;
        margin: 0 0 30px;
        font-size: 32px;
        font-weight: strong;
    }
    h2 strong {
       font-weight: 700;
    }
    h2 span {
        font-size: 24px;
    }
   

    p {
        margin: 0 0 16px;
    }

    a {
        color: black;
    }


    .icon-1 {
        font-weight: bold;
        font-size: 24px;
        margin: 0 5px;
    }

    .icon-2 {
        transform: rotate(-75deg);
        display: inline-block;
        font-size: 18px;
        margin: 0 5px;
    }



}